

nuscenes_runs


runs

*__pycache__*

logs/*


nuscenes_runs






ckpts







*.pyc


datasets/*


semantic_kitti_api

nuscenes_api


nuscenes_api


.vscode

nuscenes_api



nuscenes_api/*
nuscenes_api




wandb

wandb/*





archive 


trash
trash/*
*trash/*


model_archive
logs/trash
logs/trash/*



scripts/debug*

scripts/debug*
jupyter/*.png
jupyter/.ipynb_checkpoints*
model_archive


# eval*.sh
# train*.sh
